<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tbody>
        <tr>
            <td>邮箱：</td>
            <td>
                <input type="text" name="email_v">
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input type="password" name="passwd_v">
        </tr>
        <tr>
            <td></td>
            <td><button>登录</button></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>