{% extends "base.html" %}

{% block title %}登录title{% endblock %}

{% block head %}
  <!-- <script src="{{ url_for('static',filename='jquery/jquery-3.6.1.min.js') }}"></script> -->
  <!-- <script src="{{ url_for('static',filename='js/login.js') }}"></script> -->
{% endblock %}

{% block body %}
<!--设置分列效果，使用row 示例分为3等分，居中显示,距离顶部距离为5 -->
<div class="row mt-5">
  <div class="col"></div>
  <div class="col">    
    <!-- onsubmit="return ClickChangeName() -->
    <form name="login_form" action="{{ url_for('user.login_page') }}" method="POST" >
      <div class="mb-3">
        <label for="InputAccount" class="form-label">账户</label>
        <input type="text" class="form-control" id="InputAccount" name="email" >
<!--        <input type="text" class="form-control" id="InputAccount" name="account" >-->
<!--        <input type="hidden" class="form-control" id="SubmitAccount" name="" >-->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密码</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">记住我</label>
      </div>
<!--  使用flask.flash 配合后端在页面输出提示信息    -->
      {% for message in get_flashed_messages() %}
      <div class="mb-3 form-group">
        <div class="text-danger">{{ message }}</div>
      </div>
      {% endfor %}


      <div class="mb-3 form-group">
        <button type="submit" class="btn btn-primary" id="login_btn" onclick="ClickChangeName()">提交</button>
<!--        onclick="ClickChangeName()"-->
      </div>

      <!-- 将提交按钮填充整行（100%）的效果
      <button type="submit" class="btn btn-primary btn-block">提交</button>
      -->
    </form>

  </div>
  <div class="col"></div>
</div>

{% endblock %}
<!--#TODO js未生效,无法修改name属性！！！！-->
<script type="text/javascript">
   function ClickChangeName(){
          var account = $("input[id='InputAccount']").val();
          console.log(account)
          document.write(account)
          //window.alert(account)
          if(account.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1){
              document.getElementById('InputAccount').name='email';
          }else{
              document.getElementById('InputAccount').name='username';
          }
          document.login_form.submit();
      }

</script>
