{% extends "base.html" %}

{% block title %}注册title{% endblock %}

{% block head %}
  <script src="{{ url_for('static',filename='jquery/jquery-3.6.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/register.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row mt-5">
  <div class="col"></div>
  <div class="col">
    <form method="POST" action="{{ url_for('user.register_page') }}">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">邮箱地址</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <label for="exampleInputPassword1" class="form-label">用户名</label>
        <input type="text" class="form-control" id="exampleInputUsername" name="username">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="请查看邮箱中的验证码" aria-label="ValidationCode"
               aria-describedby="button-addon2" name="vaild_code">
        <button class="btn btn-outline-secondary" type="button" id="button-send-captcha">发送验证码</button>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密码</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        <div id="passwdHelp" class="form-text">请输入长度大于8位且包含大小写和数字的密码</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">请再次输入密码</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="password_confirm">
      </div>

      <!--  使用flask.flash 配合后端在页面输出提示信息    -->
      {% for message in get_flashed_messages() %}
      <div class="mb-3 form-group">
        <div class="text-danger">{{ message }}</div>
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">提交</button>
      <!-- 将提交按钮填充整行（100%）的效果
      <button type="submit" class="btn btn-primary btn-block">提交</button>
      -->
    </form>

  </div>
  <div class="col"></div>
</div>
{% endblock %}